# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# kotlin

.kotlin/

kursive-scripts/

# docs
docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules